@font-face {
    font-family: 'Pelago';
    src: url(fontes/boldern-font/Boldern-L3lVE.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

*{
    padding: 0;
    margin: 0%;
    border: 0;
}

body {
    background-color: #000; /* Fundo escuro como o universo */
    color: #fff; /* Texto branco */
    font-family: Arial, sans-serif;
    overflow-x: hidden;

}

/*Acessibilidade Libras*/
.access-button {
  width: 40%;
  height: 40px;
  z-index: 1;
  border-radius: 20px;
}


/* ESTRELAS */
@keyframes upLeft {
    0% { margin: 0 0 0 0; }
    100% { margin: -1000px 0 0 -1000px; }
  }
  @keyframes upRight {
    0% { margin: 0 0 0 0; }
    100% { margin: -1000px 0 0 1000px; }
  }
  @keyframes downLeft {
    0% { margin: 0 0 0 0; }
    100% { margin: 1000px 0 0 -1000px; }
  }
  @keyframes downRight {
    0% { margin: 0 0 0 0; }
    100% { margin: 1000px 0 0 1000px; }
  }
  
  * { box-sizing: border-box; }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    background: #000;
    overflow: auto;
  }
  
  .star,
  .mid-star,
  .bg-star {
    width: 4px;
    height: 4px;
    background: #fff;
    position: absolute;
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,1);
    margin: 0;
    z-index: -1;
  }
  
  .mid-star {
    background: #999;
    width: 2px;
    height: 2px;
    
    &.up-left {
    animation: upLeft 10000s linear 1s infinite;
    }
    &.up-right {
      animation: upRight 10000s linear 1s infinite;
    }
    &.down-left {
      animation: downLeft 10000s linear 1s infinite;
    }
    &.down-right {
      animation: downRight 10000s linear 1s infinite;
    }
  }
  
  .bg-star {
    background: #333;
    width: 1px;
    height: 1px;
  }
  
  .star {
    &.up-left {
      animation: upLeft 1000s linear 1s 1;
    }
    &.up-right {
      animation: upRight 1000s linear 1s 1;
    }
    &.down-left {
      animation: downLeft 1000s linear 1s 1;
    }
    &.down-right {
      animation: downRight 1000s linear 1s 1;
    }
  }

  #star-field{
    height: 1500px;
    width: 100%;
    position: absolute;
    z-index: -1;

  }

/* FIM DAS ESTRELAS */ 

/* MENU */

#primary_nav_wrap
{
	margin-top:15px;
    display: flex;
    justify-content: center;
   
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display: flex;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family:Arial, Helvetica, sans-serif;
  z-index: 2;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
}

#primary_nav_wrap ul li:hover
{
	background:#b5b5b57f;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#313131;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}

/* FIM DO MENU */



/* conteúdo */

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Estilização Título*/
#text{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pelago';
  z-index: -1;
}

#text h1{
  position: absolute;
  font-size: 16vw;
  color: #fff;
  float: left;
  margin-left: 15px;
}

#text h1:nth-child(1){
  color: #fff;
  text-shadow: -2px 2px 0px #183954,
  -4px 4px 0px #183954,
  -6px 6px 0px #183954,
  -8px 8px 20px rgba(0, 0, 0, 0.5),
  -18px 18px 50px rgba(0, 0, 0, 0.5);

}

#text h1:nth-child(2){
  color: #2196f3;
  opacity: 0.5;
  animation: animate 3s ease-in-out infinite;
}

#text h1:nth-child(3){
  color: #2196f3;
  opacity: 0.5;
  animation: animate 6s ease-in-out infinite;
}

#text h1:nth-child(4){
  color: #2196f3;
  animation: animate 4s ease-in-out infinite;
}

/*Ondinhas do Título*/
@keyframes animate {
  0%, 100%
  {
    clip-path: polygon(0 39%, 15% 39%, 32% 44%, 46% 48%, 61% 54%, 82% 51%, 100% 43%, 100% 100%, 1% 100%, 0 100%);
  }
  50%
  {
    clip-path: polygon(0 52%, 10% 63%, 23% 69%, 39% 76%, 61% 61%, 80% 60%, 100% 68%, 100% 100%, 1% 100%, 0 100%);
  }
}

h2{
  font-size: 30px;
  margin-top: 30px;
}

#caixa1{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 102px;
}

#caixa2{
  position: relative;
  background-image: url(testeuc2/imagenshome/mundi.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-left: 175px;
  width: 100%;
  height: 747px;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 130px;
}

#antartico{
  position: absolute;
  width: 163px;
  height: 52px;
  background-color: #6ce6d6;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 13px;
  top: 631px;
  left: 677px;
  font-size: 20px;
  border-radius: 15px;
}

#antartico:hover{
  color: #fff;
  background-color: deeppink;
  transition: 2s;
}

#artico{
  position: absolute;
  width: 163px;
  height: 52px;
  background-color: #6ce6d6;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 13px;
  top: 27px;
  left: 677px;
  font-size: 20px;
  border-radius: 15px;
}

#artico:hover{
  color: #fff;
  background-color: green;
  transition: 2s;
}

#indico{
  position: absolute;
  width: 163px;
  height: 52px;
  background-color: #6ce6d6;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 13px;
  top: 423px;
  left: 1054px;
  font-size: 20px;
  border-radius: 15px;
}

#indico:hover{
  color: #fff;
  background-color: purple;
  transition: 2s;
}

#pacifico{
  position: absolute;
  width: 163px;
  height: 52px;
  background-color: #6ce6d6;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 13px;
  top: 375px;
  left: 118px;
  font-size: 20px;
  border-radius: 15px;
}

#pacifico:hover{
  color: #fff;
  background-color: orangered;
  transition: 2s;
}

#atlantico{
  position: absolute;
  width: 163px;
  height: 52px;
  background-color: #6ce6d6;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding: 13px;
  top: 327px;
  left: 562px;
  border-radius: 15px;
}
#atlantico:hover{
  color: #fff;
  background-color: orangered;
  transition: 2s;
}




/*Responsividade celular*/

@media screen and (max-width: 500px){
  #text h1{
    font-size: 50px;
  }
  

}


 /*Resposividade tablet*/
@media screen and (max-width:1024px){

  body{
    width: 100%;
    height: auto;
  }

  nav .menu {
    text-align: center;
    justify-content: center;
  }

  #text h1{
    font-size: 170px;
  }

  #caixa2{
    width: 100%;
    height: 300px;
  }

  #antartico{
    left: 250px;
    top:220px ;
    
  }

  #artico{
    left:220px ;
  }

  #indico{
    left: 380px;
    top: 120px 
  }

  #atlantico{
    left: 200px ;
    top: 120px
  }

  #pacifico{
    left: 40px;
    top:170px
  }
  
}