@font-face {
    font-family: 'modernSans';
    src: url(fontes/ModernSans-Light.otf) format(OpenType);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'modernSans', 'Times New Roman', Times, serif; /*fonte vai ser mudada*/
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(imagens/background_pacifico.png);

}

nav .menu {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 20px;
    
}

.menu ul{
    list-style: none;
    font-size: 24px;
    margin-right: 50px;

}

.menu ul li {
    margin-bottom: 10px;
    display: inline;
    margin: 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
    font-weight: bold;
}

ul li a:hover, ul li a:active{
    color: #fff;
}

header{
    height: 600px;
    display: flex;
    color: #fff;
    font-size: 80px;
    justify-content: center; 
    align-items: center;
}


main{
    width: 90%;
    height: 900px;
    margin: auto;
}

.conteudo{
    position: relative;
    object-fit: contain;
    top: 60px;
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    
}

.esquerda, .direita{
    width: 600px;
    object-fit: contain;
    justify-content: center; 
    text-align: center;
    align-items: center;
}



.esquerda, .direita{
    display: inline-block;
}

.detalhes_info{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.conteudo h3{
    color: #fff;
    font-weight: normal;
    padding: 25px;
    font-size: 28px;

}

.info{
    text-align: justify;
    font-size: 28px;
    color: #fff; 
}

.detalhes{
    padding: 30px;
    color: #fff;
    list-style: none;
    font-size: 28px;
    
}

.img{
    width: 100%;
}
