@font-face {
  font-family:'BellMt';
  src: url(Bell\ MT.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family:'Praktika';
  src: url(fontes/praktika/Praktika-Light.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    
    /*fonte vai ser mudada*/
    /*Acabei de mudar -D*/
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(#132C42, #152E44, #132C42, #10223F, #0B1C32, #081D31, #020F19) no-repeat fixed;
}


nav .menu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 20px;
  z-index: 99;

}

.menu ul {
  list-style: none;
  font-size: 24px;
  margin-right: 50px;

}

.menu ul li {
  margin-bottom: 10px;
  display: inline;
  margin: 15px;
  font-family: 'Bell Mt';
  font-style: italic;
  /*se quiser tirar o italico dos links*/
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
}

ul li a:hover,
ul li a:active {
  color: #fff;
}

header {
  width: 100%;
  height: 600px;
}

h1{
  width: 100%;
  position: absolute;
  margin-top: 200px;
  color: #fff;
  text-align: center;
  font-size: 180px;
  font-family: 'Bell Mt';
  opacity: 0.5;
  z-index: 3;
}


main {
  width: 95%;
  height: 900px;
  margin: auto;
}

.conteudo {
  position: relative;
  object-fit: contain;
  top: 60px;
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;

}



.esquerda, .direita {
  width: 600px;
  object-fit: contain;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Praktika';
}



.esquerda,
.direita {
  display: inline-block;
}

.detalhes_info {
  margin-top: 80px;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.conteudo h3 {
  color: rgba(255,255,255);
  font-weight: normal;
  padding: 30px;
  font-size: 28px;

}

.style{
  font-size: 22px;
}

.title_fixo h3 {
  color: rgba(255,255,255, 0.5);

}


.info {
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.detalhes {
  margin: auto;
  margin-left: 30px;
  color: #fff;
  list-style: none;
  font-size: 25px;
  text-align: center;

}

.img {
  margin: auto;
  width: 50%;
}

#text1, #text2,#text3, #text4, #text5{
  margin: auto;
  visibility: hidden;
  width: 65%;
 
}

#ocean{
  position:absolute;
  width:100%;
  min-height:100%;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,

  );
}

.wave{
  background: linear-gradient(#133964, #4B6B91, #ACCFF7);
  display:inline-block;
  height:60%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:40%;
  }
  100%{ 
    height:60%;
  }
}

/* bolhas */
#bubbles {
    padding: 100px 0
  }
  
  .bubble {
    width: 7vw;
    height: 7vw;
    background: transparent;
    border: .5px solid white;
    border-radius: 10vw;
    -moz-border-radius: 10vw;
    -webkit-border-radius: 10vw;
    position: absolute;
    box-shadow: inset 0 0 10px rgb(106, 106, 115);
    border-radius: 50%;
    z-index: 9999;
  }
  
  .x1 {
    left: 85vw;
    color: yellow;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x2 {
    left: 5vw;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  
  .x3 {
    left: 35vw;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x4 {
    left: 47vw;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  
  .x5 {
    left: 15vw;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
    animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  
  .x6 {
    left: 73vw;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.2;
    -webkit-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x7 {
    left: 67vw;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  
  .x8 {
    left: 56vw;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x9 {
    left: 20vw;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  }
  
  .x10 {
    left: 33vw;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.3;
    -webkit-animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes moveBubbles {
    0% {
      top: 100vh;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 0vh;
      opacity: 0;
    }
  }
  
  @-webkit-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 5vw;
    }
  }
  
  @-moz-keyframes moveBubbles {
    0% {
      top: 100vh;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 0vh;
      opacity: 0;
    }
  }
  
  @-moz-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 5vw;
    }
  }
  
  @-o-keyframes moveBubbles {
    0% {
      top: 100vh;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 0vh;
      opacity: 0;
    }
  }
  
  @-o-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 5vw;
    }
  }
  
  @keyframes moveBubbles {
    0% {
      top: 100vh;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 0vh;
      opacity: 0;
    }
  }
  
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 5vw;
    }
  }